@import url('https://fonts.googleapis.com/css2?family=Aref+Ruqaa:wght@400;700&family=Playwrite+IE+Guides&display=swap');
 
* {
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    font-family:"Playwrite IE Guides", serif ;
    box-sizing: border-box;
}

/* Center */

section , .right, .left, .social, .social i{
    display: flex;
    justify-content: center;
    align-items: center;
}
section {
    background-image: url(img/Dinner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 250vh;

} 

.section-wrap {
    background-color: red;
    /* images ka de mar Change */
    height: 110vh;
    width: 500vh;
    /* images Change */
    border: 1px solid brown;
    box-shadow: inset 0 0 5px yellowgreen;
    border-radius: 20px;
    backdrop-filter: blur(500px);
    padding: 40px 10px;
    overflow: hidden;
}

/* header Start */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
}

.head-logo {
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
}

.head-logo span {
    color:aqua;
}

.nav-items {
    font-size: 1rem;
    letter-spacing: 1px;
    margin: 10px;
    cursor: pointer;
    transition: 0.3s;
    position: relative;
}

nav, .head-cta {
    z-index: 1000;
}

.nav-items::before {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 40%;
    transform: translate(-50%) scale(0);
    height: 2px;
    width: 100px;
    background-color: aquamarine;
    transition: 0.3s;
    box-shadow: 0 0 3px ghostwhite;
}

.nav-items:hover::before {
    transform: translate(-50%) scale(1);
}

.nav-items:hover {
    text-shadow: 0 0 20px palevioletred;
}

.header-cta-btn {
    font-size: 1rem;
    font-weight: bold;
    background-color: transparent;
    border: 1px solid black;
    padding: 10px 40px;
    border-radius: 24px;
    margin-left: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.header-cta-btn:hover {
    background-color: whitesmoke;
    border-color: antiquewhite;
    box-shadow: 0 0 50 px gold;

}

/* Header End */

.hero-content {
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.left {
    flex-direction: column;
    align-items: start;

}

.main-text {
    font-size: 1.1rem;
    text-transform: uppercase;
    font-weight: 800;
    line-height: 1.2;
    margin-bottom: 30px;
}

.main-text span {
    color:aqua;

}

.sub-text {
    font-size: 1rem;
    letter-spacing:1px;
    font-weight: bold;
    color:aquamarine;
    margin-bottom: 30px;
}

.hero-cta-btn {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    padding: 15px 40px;
    background-color: red;
    color:black;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 30px;
    margin-right: 20px;
     /*border 1px solid black  */
     border:1px solid black
}

.btn2 {
    background-color: red;
    
}

.hero-cta-btn:hover {
    box-shadow: 0 0 80px gold;
    background-color: aliceblue; 
   
    
}

.btn2:hover {
    box-shadow: 0 0 80px gold;
    background-color: aliceblue;
}

.right img {
    width:80%;
    border-radius: 20px;
    filter: drop-shadow(0 0 20px yellowgreen);
    animation: 30s  treeScale liner infinite;
    pointer-events: none;
}
.social i {
    height: 10px;
    width: 10px;
    padding: 20px;
    
    font-size: 1.1rem;
    border:1px solid aqua;
    border-radius: 30px;
    margin: 20px;
    cursor: pointer;
    transition: 0.5s;
}
.social i:hover {
    border-color: cyan;
    box-shadow: 0 0 24px yellow;
    text-shadow: 0 0 24px teal;
    transform: rotate(360deg);
    color: aquamarine;
}
/* about start*/
.section-title {
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 40px;
    text-align: center;
}
.section-title span {
    color: snow;
}

.about p{
    color: gold;
    font-size: 3rem;
    line-height: 1.5rem;
    margin-bottom: 50px;

}
.section-btn {
    font-size: 1rem;
    line-height: 1.5rem;
    margin-bottom: 50px;
    letter-spacing: 1px;
    border-radius: 10px;
    color:aquamarine;
    background-color: seashell;
    padding: 12px 40px;
    cursor:pointer;
    transition: 1s;
}

.section-btn:hover {
    background-color: gold;
    box-shadow: 0 0 50px greenyellow;
}

/* img */
 
.about img {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width:100%;
    opacity: 0.4; 
    pointer-events: none;
}

/* project Start */

.project-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap:50px;

}

.project img {
    width:220px;
    border: 20px;
}

.card {
    background-color: aquamarine;
    border: 2px solid gold;
    padding: 30px;
    border-radius: 11px;
    cursor: pointer;
    transition: 0.3s;
    margin-bottom: 30px;
    margin-top: 15px;

}

.card-title {
    font-size: 1.2rem;
    margin: 30px 0 20px;
    text-align: center;

}

.card:hover {
    background-color: blueviolet;
    box-shadow: 0 0 50px gold;
}

.project .section-btn {
    width: 100%;
    margin-top: 3px;

}

/* contact */

.contact-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.contact .right img {
    width:100%;
    margin-top: 100px;
    margin-right: 100px;
}

.contact p {
    font-size: 1.2rem;
    margin-bottom: 50px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

input, textarea {
    background-color: transparent;
    color: black;
    font-size: 1rem;
    padding: 15px;
    border:1px solid black;
    border-radius: 15px;
}

input::placeholder, textarea::placeholder {
    color:antiquewhite;
}

textarea {
    height: 20vh;
}

form button {
    font-size: 1rem;
    text-transform: uppercase;
    color: red;
    background-color: palegoldenrod;
    padding: 15px;
    border-radius: 15px;
    font-weight: bold;
    letter-spacing: 2px;
    cursor: pointer;
    transition: 0.3s;
}

form button:hover {
    background-color: gold;
    box-shadow: 0 0 13px black;
}

/* footer */

.footer {
    height: auto;
    background-image: none;
    /* bg color */
    background-color: aqua;
    border-right-color: black;

}

.footer .section-wrap {
    height: auto;
    margin: 50px 0;
}

.copyright {
    font-size: 1rem;
    text-align: center;
    margin-top: 10px;
}




